<h1>2FA-Validierung</h1>
<form action="/validate" method="POST">
    <div>
        <label for="token">Token</label>
        <input type="text" id="token" name="token"
        required>
        
    </div>
    <button type="submit">validieren</button>    
</form>