<h1>verify account</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"
        required>
    </div>
    <div>
        <label for="token">Token</label>
        <input type="password" id="token"
        name="token" required>
    </div>
    <button type="submit">Verifizieren</button>    
</form>
<a href="/login">Login</a>